h1 {
    width: 200px;
    background-color:#d4a373 ;
    border: 1px solid #faedcd;
    border-radius: 10px ;
    text-align: center;
    margin: auto;
    padding: 10px;
    color: rgb(116, 53, 35);
    font-family: "Sofia", sans-serif;
    }


    h3 {
        width: 300px;
        background-color: #e9edc952 ;
        border: 1px solid #9bf4b24a;
        border-radius: 0px ;
        text-align: center;
        margin: auto;
        margin-bottom: 0px;
        padding: 20px;
        color: rgb(119, 30, 30);
        word-spacing: 1px;
        font-weight: bold;
        font-size: larger; 
       
    }
    ul{
        width: 300px;
        height: 150px;
        background-color: #e9edc956 ;
        border: 1px solid #9bf4b24a;
        border-radius: 0px ;
        text-align: left;
        margin: auto;
        padding: 10px;
        color: rgb(103, 18, 18);
        word-spacing: 3px;
        padding-left: 30px;
        font-size: larger;
    }
    body {

        background-color:#ccd5ae ;
      }
      a:any-link {
     color: rgb(53, 14, 14);

      }
      a:hover {
    background-color: #d4a373;
      }
      h3:hover {
        
        color: rgba(7, 32, 7, 0.664);
      }
     h4 {
      color: rgb(0, 0, 0);
      padding-right: 50px;
     }